:root{
  --bg-grey : #f3f3f3!important;
  --bg-light : #ffffff!important;
  --color-dark-blue: #093679!important;
}
.bg-grey{
  background-color: var(--bg-grey);
}
.bg-light{
  background-color: var(--bg-light);
}
.links{
  font-size: 18px;
}
.nav-links{
  transition: all 100ms ease-in-out;
}
.nav-link:hover{
  color: var(--color-dark-blue);
}